.bar{
    padding-top: 1rem;
    font-family: 'Rampart One', cursive;
    
}
.bar ul{
    list-style: none;
    float: right;
}
ul li{
    padding: 0.2rem;
    display: inline-block;
    


}
li a{
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 0.02rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #40f4fafb;
    font-weight: 700;
}

