
/* footer {
    background:rgb(5, 59, 8);
    padding: 5rem 1rem;
  }
  footer p {
    color: white;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.12rem;
    margin-bottom: 0;
    padding-bottom: 5rem;
  } */