

<ul>
    <div *ngFor='let quote of quotes;let i = index'>
      <div class="row">
        <div class="col mb-5 align-self-center">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <div class="container">
                 <li appUnderline>{{quote.author}} </li>
                 <li>Created on {{quote.completeDate | date}}</li>
                 <li appUnderline> Author : {{quote.quote}} </li>
                 <button class="btn" (click)='toggleDetails(i)'>Click here</button><br><br>
                 <div *ngIf='quote.showDescription'>
                  <app-quote-detail  [quote]='quote'(isComplete)='deleteQuote($event,i)'></app-quote-detail>
           </div>
            </div>
          </div>
          
          </div>
        </div>
        </div>
        
      </div>
    </ul>

    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    <!-- <p *ngIf='quotes.length > 5'>You have too many goals</p> -->
    <app-footer></app-footer>