


 <div class="qoute">
  <div fxLayout ="row wrap" fxLayoutGap="3rem grid">
    <div fxFlex="40%"brfxFlex.xs fxFlex.xs  *ngFor='let quote of quotes;let i = index'>
      <mat-card class="mat-elavation-z4">
        <mat-card-header>
          <h1>My Quote</h1>
        </mat-card-header>
        <mat-card-content>
          <ul>
          <li appUnderline>{{quote.author}} </li>
                 <li>Created on {{quote.completeDate | date}}</li>
                 <li appUnderline> Author : {{quote.quote}} </li>
                 </ul>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn" (click)='toggleDetails(i)'>Click here</button><br><br>
          <div *ngIf='quote.showDescription'>
            <app-quote-detail  [quote]='quote'(isComplete)='deleteQuote($event,i)'></app-quote-detail>
           </div>
        </mat-card-actions>
        </mat-card>
        
  </div>
  </div>
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        <app-footer></app-footer>
  </div>
  
    
    

