/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


*{
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url("/../assets/ben2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
   
}

.card{
    background-color: rgb(207, 143, 143);
    border-radius: 0.8rem;
    color: rgb(19, 95, 70);
    font-style: italic;
    
}
.btn{
    color: rgb(17, 90, 66);
    background-color: azure;
    font-size: 0.8rem;
    text-transform: capitalize;
}
